<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>我的第一個網頁</title>
    <style type="text/css">
        body{
        margin: 0px;
        padding: 0px;
    }
        .content{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: bold;
	height: 300px;
	background-color: #00ffff;
	font-size: 40px;
    margin: 0px;
    }
    .main{
        text-align:center
    }
    </style>
</head>
<body>
    <div class="content">歡迎光臨，這是會員頁</div>
    <div class="main">
        {{name}},恭喜您登入成功<br>
        <a href="/">
            <button>登出系統</button>
        </a>
    </div>
</body>    
</html>